body {
	background-color: aqua;
}


img {
	width: 118px;
	height: 118px;
}

.pimg:hover {
	cursor: pointer;
	width: 110px;
	height: 110px;
}

.reset {
	display: none;
}

.reset:hover {
	cursor: pointer;
}